@model PedalParadise.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <h1 class="text-center mb-6">Login</h1>
    
    <form asp-controller="Login" asp-action="SubmitLogin" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
        
        <div class="mb-4">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
        </div>
        
        <div class="mb-6">
            <label asp-for="Password" class="col-sm-2 col-form-label">Password</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
        </div>
        
        <button type="submit" class="btn btn-lg btn-outline-primary mt-4 ">Login</button>
    </form>
    
    <p class="mt-4 text-center text-gray-600">
        Don't have an account? <a asp-action="Index" asp-controller="Register" class="text-green-600 hover:underline">Register</a>
    </p>
</div>