@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">🌴 Pedal Paradise 🌴</h1>
    <p class="display-2">Here goes a motto.</p>
</div>
<div class="container-fluid p-3">
    <p class="display-3">New promos</p>
</div>
<div class="container-fluid p-3">
    <p class="display-3">next events</p>
</div>
<div class="container-fluid p-3">
    <p class="display-3">new arrivals</p>
</div>
<div class="container-fluid p-3">
    <p class="display-3">Become a vip member</p>
</div>
<div class="container-fluid p-3">
    <p class="display-3">social media and news</p>
</div>